</main>

<footer>
<div class="footer-div">
    <p>Thanks for visiting!❤️</p>
    <p>Inspired from <a href="https://sive.rs/" target="_blank">Derek Sivers</a></p>
</div>
</footer>

<script>
    function confirmDelete(event) {
        let confirmation = confirm("Are you sure you want to delete this item?");
        if (!confirmation) {
            event.preventDefault(); // Stop the delete request if canceled
        }
    }
</script>

</body>
</html>