<%- include("partials/header.ejs")%>

<!-- <div style="text-align: center;" class = "nameTitle">
    <img id = "logoImg" src="/images/logo.webp" alt="" style="width: 50px; height: auto;">
    <h1>Sharmi Regunathan</h1>
</div> -->

<div class = "about-section">
    <div>
        <h2>About me!</span></h2>
        <div>
        Hey there! I’m a tech explorer, problem-solver, and lifelong learner on a mission to crack code, land an awesome software engineering role, and—most importantly—outsmart my own self-doubt.
        I started my career in software engineering, gaining 1.5 years of experience before taking a break to focus on my mental and physical health. While I sometimes wrestle with guilt over stepping away, I know it was the best decision for me. Burnout taught me that success isn’t just about hard work—it’s about balance. So now, I’m working my way back into the tech world with smarter strategies, healthier habits, and a fresh perspective.
        </div>
    </div>
    
    <div style="margin-top: 30px;">
        <h2>What I’m Up To Right Now</span></h2>
        <div style="margin-top: 30px;">
            I’m currently deep-diving into data structures, algorithms, and system design to prepare for interviews and level up my problem-solving skills. I’ve already mastered the basics of arrays, strings, linked lists, and recursion and am now tackling binary trees like a warrior in the land of nodes and edges.
            On the tech side, I’ve built a solid foundation in Node.js, Express.js, front-end development, and databases, which means I can confidently build full-stack applications. In fact, I’m working on an interview prep chatbot that suggests answers based on common interview questions—because let’s face it, interviews are unpredictable, and a little AI-powered coaching never hurts!
        </div>
    </div>

    <div style="margin-top: 30px;">
        <h2>Beyond the Code</span></h2>
        <div style="margin-top: 30px;">
            While tech is my passion, I’m not just about sitting in front of a screen all day (even though it happens more often than I’d like to admit). I’m committed to being agile and fit in everyday life, so I balance my time with exercise and movement. Physical activity helps me clear my mind, stay focused, and feel good—because a strong body supports a strong mind!
            I’m also on a journey to develop healthier ways to deal with self-criticism, guilt, and regret. Perfectionism has always been my double-edged sword—it pushes me to do my best, but it also makes me overthink everything (seriously, everything). I’m learning to be kinder to myself, take things less personally, and focus on progress over perfection.
        </div>
    </div>

    
</div>


<%- include("partials/footer.ejs")%>